<nav class="navbar navbar-fixed-top navbar-inverse">
    <nav class="navbar navbar-default scrollMenu" role="navigation">

        <div class="navbar-header">
            <a class="top-left pull-left" href="index.html"><img src="/Images/Tree_Small.png" alt="SapphireGirl Tree" /></a>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
            <ul class="nav navbar-nav pull-right">
                <li class="active"><a href="#home"><i class="icon-home-outline"></i>Home</a> </li>
                <li><a href="../blog/blog.html"><i class="icon-comment"></i>Blog</a> </li>
                <li><a href="../skillset/skillset.html"><i class="icon-thumbs-up"></i>Skillset</a> </li>
                <li><a href="../about/about.html"><i class="icon-star"></i>About</a> </li>
                <li><a href="../passions/passions.html"><i class="icon-popup-1"></i>Passions</a> </li>
                <li><a href="#team"><i class="icon-users"></i>More</a> </li>
                <li><a href="../contact/contact.html"><i class="icon-mail"></i>Contact</a> </li>
            </ul>
        </div>

    </nav>
</nav>